.BodyCard {
  margin: 10px;
  display: grid;
  grid-template-rows: 1fr 5fr;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--background);
}

.body-header {
  display: flex;
  flex-direction: row;
}

.header-subject {
  margin: 35px 0 0 25px;
  display: grid;
}

.header-button {
  margin: 30px 20px 0 auto;
}
.favorite-button {
  color: var(--background);
  height: 36px;
  border-radius: 20px;
  background-color: var(--accent);
  border: 1px solid var(--border);
  cursor: pointer;
}
.body-description {
  margin-left: 50px;
  padding: 20px;
}
